bs4==0.0.1
entrypoints==0.3
Flask==2.0.1
h5py
image-classifiers==1.0.0
imageio==2.9.0
keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
numpy==1.19.5
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==21.0
pandas
python-Levenshtein==0.12.2
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-addons==0.14.0
tensorflow-estimator==2.6.0
